*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: #1e293b;
    padding: 40px;
    width: 485px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.login-form h2{
     text-align: center;
     font-size: 32px;
     color: #f2f4f3;
}

.login-form p{
    text-align: center;
    color: #cbd5e1;
}

.login-form input{
    padding: 14px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.login-form button{
    padding: 14px;
    border: none;
    border-radius:10px;
    background: linear-gradient(to right, #38bdf8 ,#0ea5e9);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover{
    transform: scale(1.03);
    opacity: 0.9;
}